body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Added to center vertically */
}

.container {
    width: 50%;
}

.home-page-container {
    text-align: center;
}
