/** Header code **/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    gap: 8%;
    border-bottom: 1px solid rgb(240, 240, 240);
    position: relative;
}

.header h1 {
    font-size: 2em;
    font-weight: 100;
    margin: 0;
    color: #0088FF;
}

.header.navOpen {
    z-index: 11;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.navLink {
    text-decoration: none;
    color: black;
    font-weight: 100;
    transition: .3s;
}

.mobileMenuButton {
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	transition: .3s;
    background-color: #0088FF;
	color: white;
}

.headerNavMobile {
    position: fixed; /* Ensures the nav covers the whole screen */
    top: 0; /* Start from the top of the viewport */
    left: 0; /* Start from the left of the viewport */
    width: 100%;
    height: 100%; 
    background: linear-gradient(180deg, #ffffff, #ebf3ff);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** Footer code **/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5%;
    position: relative;
    gap: 8%;
    border-top: 6px solid var(--accent-color);
}

.footerDivider {
    width: 1px;
    min-height: 260px;
    background: var(--accent-color);
}

.footerBusinessSection {
    text-align: center;
}

.footerTitle {
    font-size: 2em;
    font-weight: 100;
}

.footerSlogan {
    font-weight: 100;
}

.footerCredit {
    font-weight: 100;
}

.footerCredit a {
    font-weight: 400;
    color: black;
}

.footerLinkSection {
    display: flex;
    gap: 80px;
    height: 260px;
}

.footerLinkContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.linkSectionTitle {
    margin: 6px 0;
}

.linkSectionLink {
    color: black;
    font-weight: 100;
}

.footerContactSection {
    flex: 1;
}

.contactTitle {
    font-weight: 100;
    margin: 0;
    margin-bottom: 18px;
}

.footerContactForm {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footerInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    transition: .3s;
    outline: transparent solid 2px;
    background: rgb(240, 240, 240);
    border-radius: 4px;
}

.footerInputContainer:focus-within {
    outline: rgb(0, 129, 242) solid 2px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

.footerInput {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    transition: .3s;
    outline: none;
    resize: none;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.footerInputLabel {
    font-size: 14px;
    position: absolute;
    z-index: 0;
    top: 12px;
    left: 8px;
    color: grey;
    cursor: text;
    transition: .3s;
    padding: 0px 4px;
    border-radius: 2px;
}

.footerInputLabel.active {
    top: -12px;
    left: 6px;
    font-size: 12px;
    color: grey;
    background: white;
}

.footerMessageLabel {
    font-size: 14px;
    position: absolute;
    z-index: 0;
    top: 4px;
    left: 4px;
    color: grey;
    cursor: text;
    transition: .3s;
    padding: 0px 4px;
    border-radius: 2px;
}

.footerMessageLabel.active {
    top: -12px;
    left: 6px;
    font-size: 12px;
    color: grey;
    background: white;
}

.footerMessage {
    padding: 4px;
    resize: none;
    background: transparent;
    position: relative;
    z-index: 10;
    outline: none;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.footerSubmit {
    padding: 8px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 2px 0px grey;
    background: var(--primary-color);
    transition: .3s;
}

.footerSubmit:hover {
    box-shadow: 0px 0px 4px 0px grey;
}

@media screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
        gap: 20px;
    }

    .footerDivider {
        display: none;
    }

    .footerLinkSection {
        gap: 20px;
    }

    .footerLinkContainer {
        gap: 10px;
    }

    .footerContactSection {
        width: 100%;
    }

}

/* Animate blocks code */
.blockContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(180deg, #ffffff, #DBE9FD);
    overflow: hidden;
}

.block {
    position: absolute;
    width: 9em;
    height: 9em;
    background-color: #0088FF;
    border-radius: 0.5rem;
    box-sizing: border-box;
    transform-origin: center;
}