html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container header {
  flex: 0 1 auto;
}

.container .content {
  overflow: auto;
  flex: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}